
<!-- Navbar Start-->
<header class="nav-holder make-sticky">
  <div id="navbar" role="navigation" class="navbar navbar-expand-lg">

    <h2>
      <i class="fa fa-laptop" style="font-size:36px; padding-right: 15px;padding-left: 50px;"></i>Electroder</h1>

      <button type="button" data-toggle="collapse" data-target="#navigation" class="navbar-toggler btn-template-outlined"><span
          class="sr-only">Toggle navigation</span><i class="fa fa-align-justify"></i></button>

      <div id="navigation" class="navbar-collapse collapse">
        <ul class="nav navbar-nav ml-auto">

          <li class="nav-item dropdown active">
            <a href='#' onclick="window.location.href = '../user/home'" data-toggle="dropdown" class="">Home
              <b class="caret"></b></a>

            <b class="caret"></b>
          </li>
          <li class="nav-item dropdown menu-large">
            <a href='#' onclick="" data-toggle="dropdown" class="">Laptops
              <b class="caret"></b></a>

            <b class="caret"></b>
            </button>
          </li>


          <li class="nav-item dropdown menu-large">
            <a href='#' onclick="window.location.href = '../user/contact'" data-toggle="dropdown" class="">Contact
              <b class="caret"></b></a>


            <b class="caret"></b>
            </button>
          </li>


        </ul>
      </div>

      <div id="search" class="collapse clearfix">
        <form role="search" class="navbar-form">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control"><span class="input-group-btn">

          </div>
        </form>
      </div>
  </div>
  </div>
</header>
<!-- Navbar End-->

<!-- Display Laptops Start-->
<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">Laptops</h1>
      </div>
      <div class="col-md-5">
        <ul class="breadcrumb d-flex justify-content-end">

        </ul>
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="container">
    <div class="row bar">
      <div class="col-md-3">
        <!-- MENUS AND FILTERS-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading">
            <h3 class="h4 panel-title">Categories</h3>
          </div>

        </div>
        <!-- Brands Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">Brands</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Apple
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Dell
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> HP
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Lenovo
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Microsoft
                  </label>
                </div>
              </div>

            </form>
          </div>
        </div>
        <!-- Brands Filter End-->


        <!-- Price Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">Price</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Under $500
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> $500 to $1000
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> $1000 & Above
                  </label>
                </div>

              </div>

            </form>
          </div>
        </div>
        <!-- Price Filter End-->


        <!-- ScreenSize Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">Screen Size</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 12 Inches & Under
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 12 to 14.9 Inches
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 17 Inches & Above
                  </label>
                </div>

              </div>

            </form>
          </div>
        </div>
        <!-- ScreenSize Filter End-->


        <!-- RAM Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">RAM</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Up to 4 GB
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 6 GB to 32 GB
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 64 GB & Above
                  </label>
                </div>

              </div>

            </form>
          </div>
        </div>
        <!-- RAM Filter End-->


        <!-- Processor Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">Processor</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Intel Core i3
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Intel Core i5
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Intel Core i7
                  </label>
                </div>

              </div>

            </form>
          </div>
        </div>
        <!-- Processor Filter End-->




        <!-- HardDiskSize Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">Hard Disk Size</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 500 GB & Under
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 501 GB to 2TB
                  </label>
                </div>

                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 3 TB & Above
                  </label>
                </div>
              </div>

            </form>
          </div>
        </div>
        <!-- HardDiskSize Filter End-->



        <!-- Rating Filter Start-->
        <div class="panel panel-default sidebar-menu">
          <div class="panel-heading d-flex align-items-center justify-content-between">
            <h3 class="h4 panel-title">Rating</h3>
          </div>
          <div class="panel-body">
            <form>
              <div class="form-group">

                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 3 Stars & Up
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 4 Stars & Up
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> 5 Stars
                  </label>
                </div>
              </div>

            </form>
          </div>
        </div>
        <!-- Rating Filter End-->


        <button class="btn btn-template-outlined" style="color:#4fbfa8"><i class="fa fa-pencil"></i> Apply Filters</button>
      </div>
     
    
    <div class="col-md-9">
      <div class="row products products-big">
        {{#each prodList}}
        <div class="col-lg-4 col-md-6">
          <div class="product">
            <div class="image"><a  href="#" onclick="window.location.href = '../user/laptops/laptopdetail/{{this._id}}'">
            <img src="{{this.prod_image2}}" alt="" class="img-fluid image1"></a></div>
            <div class="text">
              <h3 class="h5"><a href="#" onclick="window.location.href = '../user/laptops/laptopdetail/{{this._id}}'">{{this.prod_name}}</a></h3>
              <p class="price">price {{this.prod_price}}</p>
           
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  {{!-- <div class="row">
    <div class="col-md-12 banner mb-small"><a href="#"><img src="img/banner2.jpg" alt="" class="img-fluid"></a></div>
  </div> --}}
  {{!-- <div class="pages">
    <p class="loadMore text-center"><a href="#" class="btn btn-template-outlined"><i class="fa fa-chevron-down"></i>
        Load more</a></p>
    <nav aria-label="Page navigation example" class="d-flex justify-content-center">
      <ul class="pagination">
        <li class="page-item"><a href="#" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
        <li class="page-item active"><a href="#" class="page-link">1</a></li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">4</a></li>
        <li class="page-item"><a href="#" class="page-link">5</a></li>
        <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
      </ul>
    </nav>
  </div> --}}
</div>
</div>
</div>
</div>

<!-- Display Laptops End-->